/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar-brand img {
    width: 150px;
}

.movie-poster {
    height: 250px;
}

.movie-poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.review-author-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar-brand img {
    width: 150px;
}

.movie-poster {
    height: 250px;
}

.movie-poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.review-author-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Phóng to nhẹ khi hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Tăng bóng khi hover */
}

.card-title {
    font-size: 1rem;
    text-transform: capitalize; /* Làm chữ cái đầu viết hoa */
}

.card-img-top {
    height: 180px;
    object-fit: cover; /* Giúp ảnh vừa khít */
}
h3 {
    text-align: left;
}

.rating {
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.star {
    display: inline-block;
}

.star:hover,
.star.active {
    color: #EDBB0E;
}
.movie-poster img {
      cursor: pointer;
      border-radius: 8px;
    }
    .movie-info h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    .episode-list a {
      font-weight: 500;
    }
